<%= will_paginate @grilles %>

<% for grille in @grilles %>
      <h4>
        <%= link_to h(grille.display_name), grille %>
      </h4>
        <%= link_to 'Destroy', grille, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<%= will_paginate @grilles %>