<div id="header">
  <h1>Mots</h1>
</div>
<% liste = Lexique.obtenir_liste_mot(@grilles.listes_mots) %>
<% liste.each_slice(liste.count()/3) do |mots| %>
    <div id="left" >
    <% mots.each do |mot| %>
         <span class="vide" onclick="cSwap(this)"><%= mot %></span><br>
    <% end %>
        </div>
<% end %>