<div id="header">
  <h1>Mots</h1>
</div>
<% liste = [] %>
<% lexiques = Lexique.find(:all, :conditions => "id in (#{@grilles.listes_mots})", :order => "mot asc") %>
<% lexiques.each {|lexique| liste << lexique.mot} %>
<% liste.each_slice(liste.count()/3) do |mots| %>
    <div id="left" >
    <% mots.each do |mot| %>
         <span class="vide" onclick="cSwap(this)"><%= mot %></span><br>
    <% end %>
        </div>
<% end %>