<script type="text/javascript">
    function cSwap(cell){
        if (cell.className == "vide")
        {
            cell.className = "plein";
        }
        else if (cell.className == "plein")
        {
            cell.className = "vide";
        }
    }
</script>

<p id="notice"><%= notice %></p>
<h3><%= @grilles.display_name %></h3>
  <%= render 'liste_mots' %>
  <%= afficher_grille %>
<!--mot caché :<input id="motCahe" type="text" size="25">-->
<!--<button onclick="alert('allo');">Valider</button>-->


