<script type="text/javascript">
    function cSwap(cell){
        if (cell.className == "vide")
        {
            cell.className = "plein";
        }
        else if (cell.className == "plein")
        {
            cell.className = "vide";
        }
    }

</script>

<p id="notice"><%= notice %></p>
<%= @grilles.display_name %>
<table border="2">
  <% (0...10).each do |y| %>
      <tr>
        <% (0...10).each do |x| %>
            <td class='vide' width="30" align="center" height="30" onclick="cSwap(this);"><%= @grilles.get_val_x_y(x,y).upcase %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<%= link_to 'Back', grilles_path %>
