<h1>Listing lexiques</h1>

<table>
  <tr>
    <th>Mot</th>
    <th>Nbr lettre</th>
    <th></th>
  </tr>

<% @lexiques.each do |lexique| %>
  <tr>
    <td><%= lexique.mot %></td>
    <td><%= lexique.nbr_lettre %></td>
    <td><%= link_to 'Edit', edit_lexique_path(lexique) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lexique', new_lexique_path %>
